


<h1 class="text-center my-3 when500-left">Weather</h1>

<div class="row justify-center">

    <div class="col">
        <div class="card">
            <h3>Location</h3>
            <p id="region">not known</p>
            <p id="name">not known</p>
            <p id="tz_id">not known</p>
            <small><p id="last_updated">not known</p></small>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <h3>Condition</h3>
            <p><img id="icon" src="//cdn.weatherapi.com/weather/64x64/night/116.png" alt="img"></p>
            <p id="text">not known</p>
            <p id="temp_c">not known</p>
            <p id="temp_f">not known</p>
        </div>
    </div>
    
    <div class="col">
        <div class="card">
            <h3>Search</h3>
            <input id="textinput" type="text">  
            <ul class="lists-group"></ul>         
            <button onclick="searchButton()" class="btn btn-blue mt-1 bold">Search</button>           
        </div>
    </div>    


</div>
<div class="sized-box"></div>
<footer class="mt-5">
    <small><p>&copy;Copyright 2021 | ronallatupeirissa</p></small>
</footer>